<div style="margin-left: 20%; padding-top: 150px; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white">
  <div *ngFor="let song of songs">
    <table>
      <tr>
        <td><img (click)="playThisSong(song.id)" src="{{song.avatar}}" alt="" style="width: 100px ; height: 100px; cursor: pointer"></td>
        <td>
          <p>{{song.name}}</p><br>
          <p>{{song.musician}}</p>
        </td>
        <td>
          <button class="btn btn-success" [routerLink]="['/songs/update/', song.id ]">update</button>
        </td>
        <td>
          <button class="btn-success" (click)="deleteSong(song.id)">delete</button>
        </td>
      </tr>
    </table>
  </div>

</div>
