<h1>Test</h1>
{{user.username}}
<form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()">
  <table>
    <tr>
      <td>Old Password</td>
      <td>New Password</td>
    </tr>
    <tr>
      <td>
        <input type="text" formControlName="password" name="password" id="password">
      </td>
      <td>
        <input type="text" formControlName="newpassword" name="newpassword" id="newpassword">
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit">Reset Password</button>
      </td>
    </tr>
  </table>
</form>
