<!--<h1>Test</h1>-->
<!--{{user.username}}-->
<!--<form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()">-->
<!--  <table>-->
<!--    <tr>-->
<!--      <td>Old Password</td>-->
<!--      <td>New Password</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>-->
<!--        <input type="text" formControlName="password" name="password" id="password">-->
<!--      </td>-->
<!--      <td>-->
<!--        <input type="text" formControlName="newpassword" name="newpassword" id="newpassword">-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>-->
<!--        <button type="submit">Reset Password</button>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</form>-->


<div class="wrapper">
  <div style="height: 730px">
    <div class="container">
      <div class="row" style="">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto"
             style="margin-top: 100px;padding: 30px;background-color: white;border-radius: 20px">
          <div class="card card-register" style="border-color: white">
            <h3 class="title">Welcome Back</h3>
            {{user.username}}
            <div class="social-line text-center">
              <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                <i class="fa fa-google-plus"></i>
              </a>
              <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                <i class="fa fa-twitter"></i>
              </a>
            </div>
            <form style="border-color: white" [formGroup]="resetPassForm" (ngSubmit)="resetPassword()">
              <label for="validationCustom03">Old Password</label>
              <div class="input-group form-group-no-border">
                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-badge"></i>
                                  </span>
                </div>

                <input type="text" class="form-control" id="validationCustom02" required formControlName="password" name="password" id="password">
                <div class="invalid-feedback">
                  Please enter your username.
                </div>
              </div>

              <label for="validationCustom03">Password</label>
              <div class="input-group form-group-no-border">
                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                </div>
                <input type="text" class="form-control"  id="validationCustom03" required formControlName="newpassword" name="newpassword" id="newpassword">
                <div class="invalid-feedback">
                  Please enter your password.
                </div>
              </div>


              <div style="margin-top: 10px" class="form-group">
                <div></div>
                <span><a style="color: #014c8c" href="">Forgot password?</a></span>
              </div>

              <button class="btn btn-danger btn-block btn-round" type="submit">Reset Password</button>
              <a class="btn btn-outline-info btn-block btn-round" [routerLink]="['/register']">Sign In</a>
            </form>
          </div>
        </div>
      </div>
      <div style="margin-top: 30px" class="footer register-footer text-center">
        <h6>&copy;Made with 3000 <i class="fa fa-heart heart"></i> by Avengers</h6>
      </div>
    </div>
  </div>
</div>

