<style>
  .rotate {
    animation: rotation 8s infinite linear;
    border-radius: 50%;
    object-fit: cover;
    width: 80px;
    height: 80px;
    margin-top: -50px;
    margin-left: 10px;
  }
  audio::-webkit-media-controls-play-button,
  audio::-webkit-media-controls-panel {
    background-color: #17a2b8;
    color: #17a2b8;
  }

  @media (max-width: 767px) {
    .hidden-xs {
      display: none !important;
    }
  }

  #audioTag{
    background-color: #17a2b8;
    border:#17a2b8;
    border-top: 1px white;
    border-style: solid;
  }


  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark " style="position: fixed;width: 100%; background: rgba(0,0,0,0.5);z-index: 9">
  <a class="navbar-brand"><img id="logo" [routerLink]="['/host']" src="assets/img/logo.png" alt="" height="50px" style="margin-right:80px; margin-left: 40px "></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/songs']">Songs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/songs/create']">Create song</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Action</a>
          <a class="dropdown-item">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="btn badge-info" *ngIf="currentUser">{{currentUser.username}}</a>
        <a class="btn badge-info" *ngIf="!currentUser" [routerLink]="['/login']">Log In</a>
      </li>
      <li class="nav-item" *ngIf="currentUser">
        <a class="btn badge-info" (click)="logout()">Log Out</a>
      </li>
      <li class="nav-item">
        <a class="btn badge-info" [routerLink]="['/resetpassword']">Reset Password</a>
      </li>
      <li class="nav-item">
        <a class="btn badge-info" [routerLink]="['/profile/update']">Update Profile</a>
      </li>
<!--      <li class="nav-item">-->
<!--&lt;!&ndash;        <a class="btn badge-info" [routerLink]="['/profile', user.username]">{{user.username}}</a>&ndash;&gt;-->
<!--      </li>-->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="hidden-xs" style="float: left;position: fixed;width: 20%; background: rgba(0,0,0,0.5);z-index: 9;margin-top: 76px; height: 100%" >
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
<app-play></app-play>
<!--  <div id="audioTag" style="width:100%;height: 100px ; position: fixed;bottom: 0;right: 0; z-index: 9" *ngIf="song">-->
<!--    <img class="rotate" src="{{song.avatar}}">-->
<!--    <audio style=" width: 50%; margin-left: 20%;margin-top: 25px; border-color: #2c064a "  controls>-->
<!--      <source src="{{song.urlMp3}}" type="audio/ogg">-->
<!--      <source src="{{song.urlMp3}}" type="audio/mpeg">-->
<!--      Your browser does not support the audio element.-->
<!--    </audio>-->
<!--  </div>-->

<!--<footer class="card-footer" style="width: 100%;height: 200px; position: absolute;overflow: hidden;background-color: beige">-->
<!--  <h1>Footer Content</h1>-->

<!--</footer>-->
