<!-- <h1>Login Form</h1>-->
<!--  <form (ngSubmit)="login()">-->
<!--    <table>-->
<!--      <tr>-->
<!--        <td>Username</td>-->
<!--        <td><input type="text" name="username" [(ngModel)]="user.username"></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>Password</td>-->
<!--        <td><input type="text" name="password" [(ngModel)]="user.password"></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td></td>-->
<!--        <td><button type="submit">Submit</button></td>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </form>-->


<div class="wrapper">
  <div style="height: 730px">
    <div class="container">
      <div class="row" style="">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto"
             style="margin-top: 100px;padding: 30px;background-color: white;border-radius: 20px">
          <div class="card card-register" style="border-color: white">
            <h3 class="title">Welcome Back</h3>
            <div class="social-line text-center">
              <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                <i class="fa fa-google-plus"></i>
              </a>
              <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                <i class="fa fa-twitter"></i>
              </a>
            </div>
            <form style="border-color: white" (ngSubmit)="login()">
              <label for="validationCustom03">Username</label>
              <div class="input-group form-group-no-border">
                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-badge"></i>
                                  </span>
                </div>

                <input type="text" class="form-control" placeholder="Username" name="username"
                       id="validationCustom02" required [(ngModel)]="user.username">
                <div class="invalid-feedback">
                  Please enter your username.
                </div>
              </div>

              <label for="validationCustom03">Password</label>
              <div class="input-group form-group-no-border">
                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                </div>
                <input type="password" class="form-control" placeholder="Password" name="password"
                       id="validationCustom03" required [(ngModel)]="user.password">
                <div class="invalid-feedback">
                  Please enter your password.
                </div>
              </div>


              <div style="margin-top: 10px" class="form-group">
                <div></div>
                <span><a style="color: #014c8c" href="">Forgot password?</a></span>
              </div>

              <button class="btn btn-danger btn-block btn-round" type="submit">Log In</button>
              <a class="btn btn-outline-info btn-block btn-round" [routerLink]="['/register']">Sign In</a>
            </form>
          </div>
        </div>
      </div>
      <div style="margin-top: 30px" class="footer register-footer text-center">
        <h6>&copy;Made with 3000 <i class="fa fa-heart heart"></i> by Avengers</h6>
      </div>
    </div>
  </div>
</div>
