<div  class="wrapper">

  <div  class="section profile-content">
    <div style="margin-left: 20%; padding-top: 150px;padding-bottom: 200px;
    text-align: center; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;" class="container">
      <div class="owner" >
        <div class="avatar" >
          <img src="{{user.avatar}}" alt="Circle Image" style="width: 200px;height: 200px;object-fit: cover;border-style: double;border-color: white;border-radius: 50%"
               class="img-circle img-no-padding img-responsive">
        </div>
        <div class="name">
          <h4 class="title">{{user.username}}</h4>
          <h6 class="description">{{user.email}}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised, Brooklyn-based Nick
            Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid
            groove structure. </p>
      </div>
    </div>
  </div>
</div>

